@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scroll-reveal-heading {
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 2s;
  background-clip: text;
  animation: scroll-reveal-heading linear forwards;
  animation-timeline: view(y);
  animation-range-start: contain 20vh;
  animation-range-end: cover 50vh;
}

@keyframes scroll-reveal-heading {
  to {
    background-size: 100% 100%;
  }
}

.background-transition {
  background-image: linear-gradient(90deg, #394474 0%, #040734 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 1s;
  animation: background-transition linear forwards;
  animation-timeline: view();
  animation-range-start: contain -80px;
  animation-range-end: contain 10vh;
}

@keyframes background-transition {
  to {
    background-size: 100% 100%;
  }
}
.text-fade-in {
  animation: fadeIn 0.8s ease forwards;
  animation-timeline: view();
  animation-range-start: contain 60px;
  animation-range-end: contain 20vh;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gradient-text {
  background: linear-gradient(135deg, #2a4ff6, #5ce1e6);
  color: transparent;
  background-clip: text;
}
.about-text-container{
  border-radius: 30px;
}

@keyframes slowPopup {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.popup-card {
  animation: slowPopup 1s ease-in-out;
}
.icon-animation {
  transform: translateY(-100px);
  animation: icon-animation 1s forwards;
}

@keyframes icon-animation {
  to {
    transform: translateY(0);
  }
}

.button-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #0074FF;
  transition: height 0.5s ease-in-out;
  z-index: -1;
}

.button-hover:hover::before {
  height: 100%;
}

.button-hover {
  position: relative;
  overflow: hidden;
  padding: 1rem 3rem;
  width: 200px;
  z-index: 0;
}

.button-hover:hover {
  color: white;
}

.scrollbar {
  scrollbar-width: 0;
}



/* Loader         */


:root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,95%);
	--fg: hsl(var(--hue),90%,5%);
	--trans-dur: 0.3s;
	
}
.loader-body {
	background-color: var(--bg);
	color: var(--fg);
	font: 1em/1.5 sans-serif;
	height: 100vh;
	display: grid;
	place-items: center;
	transition: background-color var(--trans-dur);
}
.loader-body .main {
	padding: 1.5em 0;
}
.ip {
	width: 16em;
	height: 8em;
}
.ip__track {
	stroke: hsl(var(--hue),90%,90%);
	transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
	animation: worm1 2s linear infinite;
}
.ip__worm2 {
	animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,5%);
		--fg: hsl(var(--hue),90%,95%);
	}
	.ip__track {
		stroke: hsl(var(--hue),90%,15%);
	}
}

/* Animation */
@keyframes worm1 {
	from {
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -358;
	}
	50.01% {
		animation-timing-function: linear;
		stroke-dashoffset: 358;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes worm2 {
	from {
		stroke-dashoffset: 358;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -358;
	}
}