@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scroll-reveal-heading {
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 2s;
  background-clip: text;
  animation: scroll-reveal-heading linear forwards;
  animation-timeline: view(y);
  animation-range-start: contain 20vh;
  animation-range-end: cover 50vh;
}

@keyframes scroll-reveal-heading {
  to {
    background-size: 100% 100%;
  }
}

.background-transition {
  background-image: linear-gradient(90deg, #394474 0%, #040734 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 1s;
  animation: background-transition linear forwards;
  animation-timeline: view();
  animation-range-start: contain -80px;
  animation-range-end: contain 10vh;
}

@keyframes background-transition {
  to {
    background-size: 100% 100%;
  }
}
.text-fade-in {
  animation: fadeIn 0.8s ease forwards;
  animation-timeline: view();
  animation-range-start: contain 60px;
  animation-range-end: contain 20vh;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gradient-text {
  background: linear-gradient(135deg, #2a4ff6, #5ce1e6);
  color: transparent;
  background-clip: text;
}
.about-text-container{
  border-radius: 30px;
}

@keyframes slowPopup {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.popup-card {
  animation: slowPopup 1s ease-in-out;
}
.icon-animation {
  transform: translateY(-100px);
  animation: icon-animation 1s forwards;
}

@keyframes icon-animation {
  to {
    transform: translateY(0);
  }
}

.button-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #0074FF;
  transition: height 0.5s ease-in-out;
  z-index: -1;
}

.button-hover:hover::before {
  height: 100%;
}

.button-hover {
  position: relative;
  overflow: hidden;
  padding: 1rem 3rem;
  width: 200px;
  z-index: 0;
}

.button-hover:hover {
  color: white;
}

.scrollbar {
  scrollbar-width: 0;
}