@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vault {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background: radial-gradient(circle, #2a2a72, #009ffd);
}
.box-shadow{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}
.box-shadow:hover{
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}
.box-shadow-spread {
  box-shadow: -10px 30px 20px rgba(0, 0, 0, 0.5);
}
.box-shadow-spread:hover {
  box-shadow: -15px 35px 20px rgba(0, 0, 0, 0.5);
}
.box-shadow-spread1 {
  box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.6);
}
.box-shadow-spread1:hover {
  box-shadow: -15px 25px 20px rgba(0, 0, 0, 0.6);
}
.door {
  transform-origin: left;
  transform: rotateY(0deg);
  transition: transform 1s ease-in-out;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.vault.open .door {
  transform: rotateY(-120deg);
}

.bounce {
  animation: bounce 0.4s 0.8s ease forwards;
  opacity: 0;
}
@keyframes bounce {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    transform: translateY(50px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.rotate {
  animation: rotate 0.00001s linear;
  animation-timeline: view();
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Poppins", sans-serif;
}
.backdrop-filter {
  backdrop-filter: blur(20px);
}

.lato {
  font-family: "Lato", sans-serif;
}

.gradient-text {
  background: linear-gradient(135deg, #2a4ff6, #5ce1e6);
  color: transparent;
  background-clip: text;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes burgerOpen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes burgerClose {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease forwards;
}

.animate-fade-out {
  animation: fadeOut 0.3s forwards;
}

.animate-burger-open {
  animation: burgerOpen 0.3s forwards;
}

.animate-burger-close {
  animation: burgerClose 0.3s forwards;
}

.fixed-menu-enter {
  animation: fadeIn 0.5s forwards;
}

.fixed-menu-leave {
  animation: fadeOut 0.5s forwards;
}
.white-section {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.background-transition {
  background-image: linear-gradient(90deg, #4a506b 0%, #1c1a27 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 1s;
  animation: background-transition linear forwards;
  animation-timeline: view();
  animation-range-start: contain -80px;
  animation-range-end: contain 10vh;
}

@keyframes background-transition {
  to {
    background-size: 100% 100%;
    
  }
}
.text-fade-in{
  animation: fadeIn 0.8s ease forwards;
  animation-timeline: view();
  animation-range-start: contain 60px;
  animation-range-end: contain 20vh;
}
.bg-blur {
  filter: blur(83px);
}

.scroll-reveal-heading {
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 2s;
  background-clip: text;
  animation: scroll-reveal-heading linear forwards;
  animation-timeline: view(y);
  animation-range-start: contain 20vh;
  animation-range-end: cover 50vh;
}

@keyframes scroll-reveal-heading {
  to {
    background-size: 100% 100%;
  }
}

.svg-animation {
  animation: svg-animation 2s infinite;
}

@keyframes svg-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}



.icon-animation {
  transform: translateY(-100px);
  animation: icon-animation 1s forwards;
}

@keyframes icon-animation {
  to {
    transform: translateY(0);
  }
}


.swap-middle-right {
  animation: swap-middle-right 1s ease-in forwards;
}
@keyframes swap-middle-right {
  100% {
    transform: translate(450px, -64px);
    opacity: 0.5;
  }
}
.swap-middle-left {
  animation: swap-middle-left 1s ease-in forwards;
}
@keyframes swap-middle-left {
  100% {
    transform: translate(-450px, -64px);
    opacity: 0.5;
  }
}
.swap-left {
  animation: swap-left 1s ease-in forwards;
}
@keyframes swap-left {
  100% {
    transform: translate(-450px, 64px);
    opacity: 1;
  }
}
.swap-right {
  animation: swap-right 1s ease-in forwards;
}
@keyframes swap-right {
  100% {
    transform: translate(450px, 64px);
    opacity: 1;
  }
}
@keyframes slowPopup {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.popup-card {
  animation: slowPopup 1s ease-in-out;
}
@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-animation {
  animation: scaleIn 1s ease-in-out;
}
@keyframes fillUp {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.button-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #0074FF;
  transition: height 0.5s ease-in-out;
  z-index: -1;
}

.button-hover:hover::before {
  height: 100%;
}

.button-hover {
  position: relative;
  overflow: hidden;
  padding: 1rem 3rem;
  width: 200px;
  z-index: 0;
}

.button-hover:hover {
  color: white;
}

@keyframes fillUp2 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 100%;
    top: 0;
  }
}

.button-hover2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #0074FF;
  transition: height 0.5s ease-in-out, top 0.5s ease-in-out;
  z-index: -1;
}

.button-hover2:hover::before {
  height: 100%;
}

.button-hover2 {
  position: relative;
  overflow: hidden;
  color: black;
  padding: 1rem 3rem;
  width: 200px;
  z-index: 0;
  transition: color 0.5s ease-in-out;
}

.button-hover2:hover {
  color: white;
}
.border-up {
  border-color: #0074FF;
  border-bottom-color: transparent;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.border-down {
  border-color: #0074FF;
  border-top-color: transparent;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  transform: translateY(100%);
}

.border-down-dotted {
  border-color: #0074FF;
  border-top-color: transparent;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  transform: translateY(100%);
}
.border-up-dotted {
  border-color: #0074FF;
  border-bottom-color: transparent;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.border-down1 {
  border-color: #000A99;
  border-top-color: transparent;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  transform: translateY(100%);
}
.border-up-dotted1 {
  border-color: #000A99;
  border-bottom-color: transparent;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.get-started-card{
  animation: move-left  1s 0.1s ease forwards;
  opacity:0.2;
}
@keyframes move-left{
  from {

    opacity: 0.8;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
